{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
    <h3 class="date">{{ article.locale_date }} : {{ category }} : Ian Dow-Wright</h3>
    <h2 class="title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <hr>
  <div class="prevnext">
      <div class="prev">
        {% if article.prev_article %}
        <strong>&lt; Previous Post<br></strong>
        <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
            {{ article.prev_article.title }}
        </a>
        {% endif %}
      </div>
      <div class="next">
        {% if article.next_article %}
        <strong>Next Post&gt;<br></strong>
        <a href="{{ SITEURL }}/{{ article.next_article.url}}">
            {{ article.next_article.title }}
        </a>
        {% endif %}
      </div>
  </div>
{% endblock %}
